/* Código */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Secular+One&display=swap');
body {
  background-image: url(/img/section-bg.jpeg);
  background-size: cover;
}
.section{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding-top: 10vh;
  width: 100%;
}
.section_text{
  display: grid;
  padding: .8em 1em;
  background-color: #ED532D;
  color: #fff;
  font-size: 1.4em;
  text-shadow: 2px 2px 5px #000000;
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2) inset;
  font-family: 'Secular One', sans-serif;
  width: 100%;
}
.section_text h1 i{
  margin-right: .5em;
}

.table{
  display: grid;
  padding: 0% 5%;
}

.table_thead{
  color: #fff;
  font-size: 1.2em;
  text-shadow: 2px 2px 5px #000000;
}
tbody>tr{
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 1em;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 2px 2px 4px #000000;
}
tr:nth-child(even) {
  background-color: #a1a0a0dc;}

tbody>tr:hover {
  background-color: #ed532dc9;
  color: #fff;
}
@media screen and (max-width:992px) {
  .section_text{
    font-size: 1.1em;
  }
  .table{
    margin-top: .8vh;
    padding: 0em 1em;
  }
  .table_thead{
    font-size: .9em;
  }
  tbody>tr {
    padding: .0em;
    font-size: .7em;
  } 
}

@media screen and (max-width:576px) {
  .section{
    padding-top: 8vh;
  }
  .section_text{
    font-size: 1.3em;
  }
  .table{
    width: 100%;
    padding: 0em 1em;
    display: grid;
    overflow-y: auto;
    margin-top: 1vh;
    justify-self: center;
    align-self: center;
  }
  .table_thead{
    font-size: 1em;
  }
  tbody>tr {
    padding: 0em;
    font-size: .7em;
  } 
}
