.header {
  height: 10vh;
  width: 100%;
  background-color: #282828;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Roboto Mono', monospace;
  position: fixed;
}

.header .h1 {

  padding-left: 1rem;
  font-size: 1.5rem;
}

.header .li :hover {
  background-color: #393939;
  padding: .3rem;
  border-radius: 3px;
  color: rgb(243, 9, 9);
  transition: ease 3s(0.075, 0.82, 0.165, 1);
}


.header .button {

  display: none;
}

.header .svg {
  width: 2em;
  height: 2em;
  fill: white;
}

.header .ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.header .li {
  margin: 0 .7em;
  font-size: 1rem;
}

@media screen and (max-width:768px) {
  .header {
    height: auto;
  }

  .header .button {
    display: block;
    cursor: pointer;
  }

  .header .h1 {
    /* background-color: aqua; */
    padding-left: .5rem;
    font-size: 1.2rem;
  }

  .header .nav {
    width: 100%;
    /* display: none; */
    height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .header .nav.activo {
    /* display: block; */
    height: 50vh;
    pointer-events: auto;
  }

  .header .ul {
    flex-direction: column;
  }

  .header .li {
    margin: 1rem 0;
    font-size: 1.1rem;
  }

  .header .li .a:hover {
    background-color: #393939;
    padding: .5rem;
    border-radius: 3px;
    color: rgb(243, 9, 9);
  }

}