<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/layout/nav.css">
    <link rel="stylesheet" href="/layout/footer.css">
    <link rel="stylesheet" href="/layout/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"
        integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Informacion</title>
</head>

<body>
    <header class="header">
        <h1 class="h1">
            <a href="#" class="a">Franklin Theriault.</a>
        </h1>

        <button class="button">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <nav class="nav">
            <ul class="ul">
                <li class="li"><a href="/index.html" class="a">Inicio</a></li>
                <li class="li"><a href="/view/turist.html" class="a">Destinos</a></li>
                <!--<li class="li"><a href="#" class="a">Entretenimiento</a></li>-->
                <li class="li"><a href="/view/contact.html" class="a">Contactos</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="titulo">
            <h1>Peliculas preferidos</h1>
        </div>
        <div class="cont_row_peli">
            <iframe src="https://www.youtube.com/embed/TcMBFSGVi1c" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="titulo_card">
                <h1>Avengers: Endgame</h1>
                <p>Whatever it takes. Watch the brand-new trailer for Marvel Studios’ Avengers: Endgame. In theaters
                    April 26.</p>
            </div>
        </div>
        <div class="cont_row_peli">
            <iframe src="https://www.youtube.com/embed/z2Zk3izCaLk" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="titulo_card">
                <h1>DEADPOOL 3 (2023)</h1>
                <p>Here's our teaser trailer concept for Marvel Studios' upcoming R-Rated movie DEADPOOL 3 (2023), which
                    is a sequel to Deadpool 2 (2018)</p>
            </div>
        </div>
        <div class="cont_row_peli">
            <iframe src="https://www.youtube.com/embed/u9Mv98Gr5pY" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="titulo_card">
                <h1>VENOM</h1>
                <p>One of Marvel's most enigmatic, complex and badass characters comes to the big screen, starring
                    Academy Award® nominated actor Tom Hardy as the lethal protector Venom.</p>
            </div>
        </div>
        <div class="cont_row_peli">
            <iframe src="https://www.youtube.com/embed/3PeGyd8e7Mw" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="titulo_card">
                <h1>GUARDIANES DE LA GALAXIA</h1>
                <p>De Marvel, el estudio creador de las mundialmente exitosas franquicias de Iron Man, Thor, Capitán
                    América y The Avengers: Los Vengadores,</p>
            </div>
        </div>
        <div class="titulo">
            <h1>Libros preferidos</h1>
        </div>
        <div class="cont_row_lib">
            <img src="/img/book/hp_piedra.jpg" alt="img">
            <div class="titulo_card">
                <h1>Harry Potter y la piedra filosofal</h1>
                <p>Harry Potter nunca conoció a sus padres. Desde bebé ha vivido con sus horribles tíos y primo, pero
                    cuando está a punto de cumplir diez años, una serie de misteriosas y obstinadas cartas, y Hagrid, un
                    gigantón bonachón, le desvelan que no es un niño normal: es un mago destinado a pasar a la historia;
                    y que además irá a estudiar a Hogwarts, un colegio de magos.</p>
            </div>
        </div>
        <div class="cont_row_lib">
            <img src="/img/book/hp_pricionero.jpg" alt="img">
            <div class="titulo_card">
                <h1>Harry Potter y el pricionero de Azkaban</h1>
                <p>Por la cicatriz que lleva en la frente, sabemos que Harry Potter no es un niño como los demás, sino
                    el héroe que venció a lord Voldemort, el mago más temible y maligno de todos los tiempos y culpable
                    de la muerte de los padres de Harry.</p>
            </div>
        </div>
        <div class="cont_row_lib">
            <img src="/img/book/hp_caliz.jpg" alt="img">
            <div class="titulo_card">
                <h1>Harry Potter y el calizde fuego</h1>
                <p>Harry Potter y el cáliz de fuego es el cuarto libro de la historia de Harry Potter escrito por la
                    autora británica J. K. Rowling. Este Libro es, junto con la séptima presentación, uno de mis tomos
                    favoritos ya que aquí no solo Harry Potter adquiere las características de un adolescente. Además,
                    el relato y la historia se tornan más oscuros.</p>
            </div>
        </div>
        <div class="cont_row_lib">
            <img src="/img/book/selva.jpg" alt="img">
            <div class="titulo_card">
                <h1>El lbro de la selva</h1>
                <p>Mowgli, el cachorro humano, es adoptado por una manada de lobos. Con ellos crecerá y, en compañía del
                    oso Baloo y Bagheera la Pantera Negra, vivirá increíbles aventuras. Aprenderá a sobrevivir en la
                    Jungla y a enfrentarse a sus peores temores y a su más feroz enemigo, el tigre Shere Khan.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer_link">
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-whatsapp"></i></li>
            </ul>
        </div>
        <div class="footer_h1">
            <h1>Franklin Theriault S.</h1>
        </div>
    </footer>
    <script src="/js/nav.js"></script>
    <script src="https://kit.fontawesome.com/fd1ef0d0ba.js" crossorigin="anonymous"></script>
</body>

</html>